header {
    padding-block: 32px;
    font: var(--text-md);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    align-items: center;
    gap: 32px;
}

#profile > div {
    max-width: 384px;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#profile p {
    font: var(--text-md);
}

#info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;

}

/*Até monitores pequenos*/
@media(max-width: 1200px) {

}


/*Até tablet*/
@media(max-width: 991px) {
    #profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header .container {
        flex-direction: column;
        gap: 48px;
    }
    #info {
        flex-direction: row;
    }

}


/*Até celular*/
@media(max-width: 768px) {
    nav ul li {
        display: none;
    }
    nav .btn-mobile {
        display: block;
    }
}

/*Até celular*/
@media(max-width: 560px) {
    
}